/* custom styles */
.cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


#main-nav{display: block;
	ul{
		display: block;
		li{
			display: block;
			a{text-transform: uppercase;}
		}
	}
}

#main-content{
	width: 1000px;
	margin: 0px auto;
}
#header{
	text-transform: uppercase;
	display: block;
}

