/* custom styles */
/* Color and width variables */
/* Extend classes */
#header .container:after {
  content: "";
  display: table;
  clear: both; }

body {
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #111;
  font-size: 1em; }

ul {
  margin: 0;
  padding: 0; }
  ul > li {
    list-style: none; }

/* Header section and variables */
#header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #ef5350;
  border-bottom: 1px solid #b61827;
  text-transform: uppercase;
  display: block; }
  #header .container {
    width: 1000px;
    margin: 0px auto; }
  #header a {
    display: block;
    float: left;
    padding: 10px 0; }
  #header img {
    width: 60px;
    border-radius: 50%;
    display: block;
    border: 1px solid #b61827; }
  #header h1 {
    float: left;
    margin: 20px;
    font-weight: 600;
    font-size: 1.6em; }

/* Nav CSS */
#main-nav {
  display: block; }
  #main-nav ul {
    text-align: right;
    list-style: none;
    margin: 0; }
    #main-nav ul li {
      display: inline-block; }
      #main-nav ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.6em;
        padding: 20px 20px;
        color: #111;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        #main-nav ul li a:hover {
          color: #fff; }

/* Main content CSS */
.content-section {
  padding: 60px 20px 50px; }
  .content-section .row {
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    z-index: 2;
    position: relative; }
  .content-section .section-header {
    font-size: 3em;
    text-transform: uppercase; }
    .content-section .section-header i {
      margin-left: 10px; }
  .content-section p {
    font-size: 1.1em;
    line-height: 2; }
  .content-section a {
    font-size: 1.1em; }

/* About Section */
#about {
  background: url(../../images/IMG_2617.JPG) no-repeat 0 -300px;
  background-size: 100%;
  position: relative; }
  #about:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 134, 124, 0.8);
    top: 0;
    left: 0;
    z-index: 1; }

/* Work Section */
#work {
  background: #01579b;
  color: #fff; }
  #work ul {
    font-size: 0; }
    #work ul li {
      font-size: 18px;
      vertical-align: top;
      display: inline-block;
      width: 25%;
      padding: 10px;
      box-sizing: border-box;
      padding: 10px; }
  #work a {
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #4f83cc;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    #work a:hover {
      border-color: #fff; }
    #work a i {
      display: block;
      font-size: 3em; }

/* Contact Section */
#contact {
  background: #b61827;
  color: #fff; }
  #contact ul li {
    padding: 10px; }
  #contact a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    #contact a:hover {
      border-color: #fff; }
    #contact a i {
      margin-left: 15px; }

/* Footer Section */
#footer {
  background: #002f6c; }
  #footer .row {
    width: 1000px;
    margin: 0px auto;
    padding: 200px 40px 100px;
    text-align: center; }
  #footer p {
    color: #fff; }

/*# sourceMappingURL=main.css.map */
