/* custom styles */

/* Color and width variables */
$blue: #01579b;
$blue-light:#4f83cc;
$blue-dark:#002f6c;
$red:#ef5350;
$red-light:#ff867c;
$red-dark:#b61827;

$page-width: 1000px;
$body-color: #ededed;

/* Extend classes */
%cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin open-sans($weight){
	font-family: 'Open Sans', sans-serif;
	font-weight: $weight;
}

body{
	background: $body-color;
	@include open-sans(400);
	color: #111;
	font-size: 1em;
}

ul{margin: 0;padding: 0;
	> li {list-style: none;}
}


/* Header section and variables */ 
#header{ 
	background: $red;
	border-bottom: 1px solid $red-dark;
	text-transform: uppercase;
	display: block;
	.container{
		@extend %cf;
		width: $page-width;
		margin: 0px auto; 
	}
	a{
		display: block;
		float: left;
		padding: 10px 0;
	}
	img{
		width: 80px;
		border-radius: 50%;
		display: block;
		border:1px solid $red-dark;
	}
	h1{
		margin: 0;
		float: left;
		margin: 30px;
		font-weight: 600;
	}
}

/* Nav CSS */ 
#main-nav{display: block;
	ul{
		text-align: right;
		list-style: none;
		margin: 0;
		li{
			display: inline-block;
			a{
				text-transform: uppercase;
				text-decoration: none;
				font-size: 2em;
				padding: 30px 20px;
				color: #111;
				@include transition(.2s);
				&:hover{
					color: #fff;
				}
			}
		}
	}
}

/* Main content CSS */ 
#main-content{}
.content-section{
	padding: 30px 20px 50px;

	.row{
		width: $page-width;
		margin: 0px auto;
		text-align: center;
		z-index: 2;
		position: relative;

	}
	.section-header{
		font-size: 3em;
		text-transform: uppercase;
		i{margin-left: 10px;}
	}
	p{
		font-size: 1.1em;
		line-height: 2;
	}
	a{
		font-size: 1.1em;
	}
}

/* About Section */
#about{
	background: url(../../images/IMG_2617.JPG) no-repeat 0 -300px ;
	background-size: 100%;
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color:rgba($red-light, .8);
		top: 0;
		left: 0;
		z-index: 1;
	}
}

/* Work Section */ 
#work{
	background:$blue;
	color: #fff;
	ul{font-size: 0;
		li{font-size: 18px;
			vertical-align: top;
			display: inline-block;
			width: 25%;
			padding: 10px;
			box-sizing:border-box;
			padding: 10px;
		}
	}
	a{
		padding: 20px;
		display: block;
		color: #fff;
		text-decoration: none;
		border-radius: 10px;
		border:1px solid $blue-light;
		@include transition(.2s);
		&:hover{
			border-color: #fff;
		}
		i{
			display: block;
			font-size: 3em;
		}
	}
}

/* Contact Section */ 
#contact{
	background:$red-dark;
	color: #fff;
	ul{
		li{
			padding: 10px;
		}
	}
	a{
		color: #fff;
		text-decoration: none;
		border-bottom:1px solid transparent;
		@include transition(.2s);
		&:hover{
			border-color: #fff;
		}
		i{margin-left: 15px;}
	}
}

